html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #020617;
}

:root.dark {
  --primary-color: #f0f0f0;
}

html.dark {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}

body {
  --at-apply: bg-main text-main;
}

a:hover {
  --at-apply: op-75;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  --at-apply: bg-primary;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
