html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: theme('light-color');
  color: theme('dark-color');
}

html.dark {
  color-scheme: dark;
  background: theme('dark-color');
  color: theme('light-color');
}

a {
  color: theme('primary-color');
}
